* {
	margin: 0;
	padding: 0;
}
body {
	/*background:-webkit-linear-gradient(top,#45B15B,#0B7050);*/
	background-attachment:fixed;
	letter-spacing: -0.01em;
	word-spacing: 0.2em;
	line-height: 1.8em;
	font-family: PingFang SC,Hiragino Sans GB,Helvetica Neue,Microsoft Yahei,WenQuanYi Micro Hei,sans-serif
	font-size: 16px;
	border-top: 5px solid rgb(72, 184, 126);
	-webkit-animation:bgscroll 20s infinite linear;
	   -moz-animation:bgscroll 20s infinite linear;
	    -ms-animation:bgscroll 20s infinite linear;
	     -o-animation:bgscroll 20s infinite linear;
	        animation:bgscroll 20s infinite linear;
}
#skinbar{
	display: none;
}
body.skin1, .skin1{
	background:#6E9B68 url(body.gif) repeat-x;
}
body.skin2, .skin2{
	background: #C7E7CC;
}
body.skin3, .skin3{
	background: #F5F5D5;
}
body.skin4{
	background-color: #E1DCB8;
	background: url(bg-texture.jpg) repeat center top fixed;
}
.skin4{
	background-color: #E1DCB8;
}
body.skin5{
	background-color: #CDB7A2;
	background: url(background.jpg) repeat center top fixed;
}
.skin5{
	background-color: #CDB7A2;
}
body.skin6, .skin6{
	background-color: #91CE9C;
}
body.skin7, .skin7{
	background: #EFEFEF url(bg7.png) 0 0 repeat;
}
body.skin8, .skin8{
	background-color: #ECF6ED ;
}
body.skin9, .skin9{
	background-color: #F9F9F5 ;
	color: #2C3E50;
}

@-webkit-keyframes bgscroll {
	from {background-position:0 0;}
	to {background-position:-520px 0 ;}
}
a {
	color:#444;
	text-decoration:none;
	outline:none;
	blr:expression(this.onFocus=this.blur());
}
a:hover {
	color:#8A0841;
	text-decoration:underline;
	-webkit-transition:background-clolr .5s ease;
	-moz-transition:background-clolr .5s ease
}
p {
	padding:3px 0;
	margin: 10px auto;
}
.clear {
	clear:both;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
img {
	border:0;
}

/*editormd start*/
.markdown-body h1 {
    font-size: 30px
}
.markdown-body h2 {
    font-size: 26px
}

.markdown-body h3 {
    font-size: 21px
}
.markdown-body h4 {
    font-size: 18px
}
.markdown-body h5,
.markdown-body h6 {
    font-size: 16px
}
.mobile #main{
	width: auto;
}
.mobile h1{
    font-size: 22px
}
.mobile h2{
    font-size: 20px
}
.mobile h3{
    font-size: 18px
}
.editormd-preview-container, .editormd-html-preview{
	background-color: transparent;
	font-size: 18px;
	color: #2C3E50;
	width: auto;
}
.mobile .editormd-preview-container,
.mobile .editormd-html-preview{
	font-size: 14px;
}
.markdown-body{
	color: #2C3E50;
}
.markdown-body li{
	line-height: 27px;
}
.markdown-body p{
	line-height: 27px;
}
.markdown-body hr{
	border-top: 1px dashed #cfcfcf;
}
.markdown-body table {
    max-width: 100%;
    display: table;
}
.markdown-body blockquote{
	color: #2C3E50;
	font-style: normal;
	font-size: 16px;
	padding: 10px 15px;
	border-left-style: solid;
	border-left-width: 10px;
	border-color: #D6DBDF;
  background: none repeat scroll 0 0 rgba(102,128,153,.05);
}
.markdown-body blockquote p {
  margin-bottom: 0;
  line-height: 25px;
}
.markdown-body code{
	/*background-color: #D6DBDF;*/
	background-color: #b3e2c1;
}
.editormd-preview-container pre,
.editormd-preview-container code,
.editormd-preview-container kbd,
.editormd-html-preview pre,
.editormd-html-preview code,
.editormd-html-preview kbd {
     font-family: inherit;
}
/*editormd end*/
#main {
	width:84%;
	margin:0 auto;
	padding:24px 5px;
}

#header {
	margin: 0 0 30px 0;
}
#sitename a{
	font-size: 45px;
}
#sitename a:hover{
	text-decoration:none;
}
.clock{
	position: relative;
	top:10px;
}
#side {
	float: right;
	width: 220px;
}
.photo {
	background: #F6F6F6;
	padding:20px;
	border:1px solid #CCC;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.photo img {
	width: 180px;
	height: 180px;
}
.about {
	margin-top: 10px;
	line-height:1.8;
	overflow: hidden;
	word-wrap: break-word;
}
#navbar {
	position:absolute;
	top:20px;
	right: 100px;

}
#navbar a {
	/*margin-left: 15px;*/
	float: left;
	padding: 5px 10px;
	background-color: #2CB473;
	transition: 1s;
}
#navbar a:hover{
	background-color: #1E7F51;
	color: #D8DFB7;
}
#skinbar {
	position:absolute;
	top:60px;
	right: 100px;
}
#skinbar a {
	/*margin-left: 15px;*/
	/*float: left;*/
	display: inline-block;
	padding: 5px 10px;
	width: 19px;
	height: 19px;
}
#skinbar a.cur{
	border: 1px solid #000;
}
#page_info {
	padding-top:10px;
	margin:0 0 30px 0;
}
#page_info span {
	font-size:16px;
	line-height:24px;
	color:#fff;
	background:#456838;
	padding:4px 8px;
	border-radius:8px;
}
#content {
	line-height: 27px!important;
	/*font-family: \5FAE\8F6F\96C5\9ED1;*/
}
#content .post .title {
	line-height:22px;
	padding: 20px;
}
.post_meta {
	padding:10px 16px 10px 20px;
	height:26px;
	color: black;
	line-height: 20px;
}
.post_meta a {
	margin:2px 4px;
	/*color: #777;*/
}
.post_meta a:hover {
	margin:2px 4px;
	color: #551212;
}
.post_date {
	float:left;
	background: url(date.gif) no-repeat left;
	padding: 1px 0 2px 22px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	margin-right: 30px;
}
.post_tag {
	float:left;
	background: url(tag.gif) no-repeat left;
	padding: 4px 0 2px 19px;
}
.post_comm {
	float:right;
	background: url(comm.gif) no-repeat left;
	padding: 4px 0 2px 18px;
}
#content .post .content {
	padding:15px;
}
#content .post img {
	/*max-width:498px;*/
	width:expression(this.width > 498 ? "498px" : this.width);
	overflow:hidden;
	margin: 1em;
}

#content .tags {
	padding-bottom:0;
}
.date_list {
	float:left;
	width:150px;
}
.tag_list {
	float:left;
	width:150px;
}
.list{
	clear: both;
	overflow: hidden;
}
.list li{
	margin: 5px 8px;
	padding: 3px 6px;
	/*border-radius: 5px;*/
	border: 1px solid #000;
	float: left;
	background-color: #399;
	-moz-transition: all 0.25s ease-in 0s;
	-webkit-transition: all 0.25s ease-in 0s;
	transition: all 0.25s ease-in 0s;
	list-style: none;
}
.list li a{
	color: #fff;
}
.list li:hover{
	/*background: rgba(62, 156, 104, 0.64);*/
	/*padding: 5px 6px;*/
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.date_list, .tag_list {
	margin-bottom:8px;
}

#page_bar {
	font-size: 40px;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
}
#page_bar a {
	padding:6px 9px;
	color:#666;
	border: 1px solid;
	border-radius: 50px;
	background-color: #E2E2E2;
}
#page_bar a:hover {
	color:#fff;
	text-decoration: none;
	background-color: #8A8989;
	transition: 1s;
}
#page_bar .nextpage{
	position: fixed;
	top:45%;
	right:15px;
}
#page_bar .prevpage{
	position: fixed;
	top:45%;
	left:15px;
}
#footer {
	text-align:center;
	margin:60px auto;
	font-size:13px;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#CCC;
}
#footer a {
	color:#BBB;
}
#footer a:hover {
	color: #999;
}

/*首页的页脚*/
.footer {
	clear: both;
	text-align: center;
	padding: 2em;
	background-color: #464646;
	color: #CCC;
}